.jumbotron {
	margin-top: 50px;
	text-align: center;
}
.footer-bar{
	background-color: rgb(44, 62, 80);
	color: #fff;
	border-bottom-color: rgb(32, 45, 59);
	display: block;
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 15px;
	height: 61px;
	left: 0px;
	min-height: 60px;
	position: fixed;
	right: 0px;
	width: 100%;
	z-index: 1030;
}
.footer-bar p{
	line-height: 21px;
}
.footer-bar .container{
	line-height: 60px;
}
.red{
	background-color: #df2e1b;
	color: #fff;
}
.green{
	background-color: #18bc9c;
	color: #fff;	
}
.orange{
	background-color: #f39c12;
	color: #fff;	
}
#city{
	display: inline;
}
#snow, #weathers{
	width: 49%;
}
#snow{
	float: left;
	margin-right: 15px;
}
#weathers{
	float: right;
	height: 400px;
}
#result{
	float: left;
	width: 49%;
}
.weather:nth-child(2n+1){
	background: #e4e4e4;	
}
.weather{
	padding-bottom: 10px;
	margin-left: -60px;
	margin-right: -60px;
}
.weather:first-child{
	margin-top: -24px;
}
.weather .day, .temp{
	font-size: 20px;
	height: 30px;
}
h2{
	width: 50%;
	float: left;
	margin-top: 30px;
	margin-bottom: -10px;
}
.symbol {
	float: right;
	margin-top: -65px;
	margin-right: 145px;
}
.symbol img{
	max-width: 50px;
}
.snow-day {
	float: left;
	width: 100%;
	margin-top: -10px;
}









